:root {
  --color__button: #4985ff;
  --color__white: #fff;
  --color__black: #000;
  --color__gray: #999;
  --color__light: #e0e0e0;
  --color__lightgray: #c4c4c4;
  --color__projects-bg: #f6f6f8;
  --color__darkgray: #ffffff26;
  --color__dark: #6f6f6f40;
  --color__dark-title: #323232;
  --color__violet: #504dc2;
  --color__purple: #5f12d0;
  --color__darkblue: #1638d3;

  --path__video-img: url("../img/assets/video-bg.png");
  --path__homescreen-img: url("../img/Rectangle.png");
  --path__works-img: url("./img/assets/works-img.png");
}

body {
  font-family: Montserrat;
  align-items: center;
  margin: auto;
  max-width: 100%;
  padding: 0;
}

.button {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 1.875rem;
  height: 2.8125rem;
  width: 12.5rem;
  background: var(--color__button);
  border: none;
  color: var(--color__white);
  font-family: Montserrat;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color__darkblue);
}

.text {
  color: var(--color__gray);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
}

.text-mid {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}

.text-big {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 146.28%;
}

.homescreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color__white);
  padding: 0;
  text-align: center;
  height: 56.25rem;
  margin: auto;
  max-width: 100%;
  background-image: var(--path__homescreen-img);
  padding-top: 0;
}

.homescreen__title {
  color: var(--color__white);
  font-weight: 500;
  text-align: center;
  line-height: normal;
  padding: 1.25rem 0;
  margin: 0;
}

.homescreen__description {
  margin: 0;
  color: var(--color__white);
  text-align: center;
  max-width: 51.8125rem;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 800;
  line-height: 134.09%;
}

.homescreen__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color__white);
  font-family: Montserrat;
  margin: auto;
  padding-bottom: 8rem;
}

.homescreen__button {
  margin-top: 3.9375rem;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigation__btn {
  margin-top: 2.5rem;
  margin-right: 2rem;
  display: none;
  width: 60px;
  height: 60px;
}

.navigation__btn[state="closed"] {
  background-image: url("../img/assets/icons/menu.svg");
  transition: background-image 0.3s ease;
}

.navigation__btn[state="opened"] {
  background-image: url("../img/assets/icons/cross.svg");
  transition: background-image 0.3s ease;
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  color: var(--color__white);
  line-height: normal;
  padding-top: 2.5rem;
}

.navigation__link {
  display: block;
  color: white;
  text-align: center;
  padding: 0 1rem;
  text-decoration: none;
  padding-bottom: 2.5rem;
  border-bottom: 0.125rem solid transparent;
  transition: border-bottom 0.3s ease;
}

.navigation__link:hover {
  border-bottom: 0.125rem solid white;
}

.navigation__list.opened {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.navigation__list.opened .navigation__item {
  padding: 1.5rem 0;
  text-align: center;
}

.navigation__btn.opened {
  background-image: url("../img/assets/icons/cross.svg");
}

.services {
  padding-top: 6.5625rem;
  padding-bottom: 6.5625rem;
  text-align: center;
  align-items: center;
}

.services__svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border: 0.7rem solid transparent;
  box-shadow: 0 0 0 0.0625rem var(--color__light),
    inset 0 0 0 0.0625rem var(--color__button);
  border-radius: 50%;
  margin-right: 1.1rem;
}

.services__svg-container__img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.services__title {
  margin: 0;
  padding: 0.625rem 0;
  color: var(--color__dark-title);
  text-align: center;
  padding: 0;
  margin: auto;
  max-width: 46.1875rem;
}

.services__description {
  max-width: 45.625rem;
  margin: auto;
  margin-top: 3.125rem;
  color: var(--color__gray);
  text-align: center;
}

.services__icons {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 4.375rem;
}

.services__item-container {
  display: flex;
}

.services__icon img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.services__icon-info {
  text-align: left;
  padding-top: 2.8125rem;
}

.services__icon-caption {
  color: var(--color__black);
  max-width: 14.125rem;
  max-height: 1.4375rem;
  flex-shrink: 0;
  text-align: left;
}

.services__icon-text {
  color: var(--color__gray);
  font-size: 0.875rem;
  max-width: 13.875rem;
  max-height: 4rem;
  flex-shrink: 0;
  text-align: left;
}

.services__button {
  margin: auto;
  margin-top: 3.4375rem;
}

.development-standards {
  background-color: var(--color__projects-bg);
  padding: 3.125rem 0;
  text-align: center;
  padding-top: 6.25rem;
  padding-bottom: 4.375rem;
}

.development-standards__content {
  max-width: 69.375rem;
  margin: auto;
  border-bottom: 0.0625rem solid var(--color__light);
  padding-bottom: 5.625rem;
}

.development-standards__info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.625rem;
}

.development-standards__header {
  color: var(--color__dark-title);
  max-width: 26.5rem;
  max-height: 5.5rem;
  text-justify: distribute;
  flex-shrink: 0;
}

.development-standards__info-wrapper {
  text-align: left;
  margin-right: 1.875rem;
}

.development-standards__text {
  max-width: 30.5625rem;
  max-height: 7.3125rem;
  flex-shrink: 0;
  color: var(--color__gray);
  text-justify: distribute;
}

.development-standards__link {
  color: var(--color__button);
  line-height: normal;
  text-decoration-line: underline;
  transition: color 0.3s ease;
}

.development-standards__link:hover {
  color: var(--color__darkblue);
}

.development-standards__metric-container {
  display: flex;
  width: 6.5rem;
  justify-content: space-around;
  align-items: center;
}

.development-standards__metric-img {
  max-height: 1.875rem;
}

.development-standards__metrics {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 1.25rem;
  max-width: 69.375rem;
  margin: auto;
  padding-top: 4.375rem;
}

.development-standards__metric-value {
  color: var(--color__black);
  font-size: 2.25rem;
  line-height: 146.28%;
  margin: 0;
}

.development-standards__img {
  border-radius: 1.875rem;
  box-shadow: 0 0 0.625rem 0 var(--color__darkgray);
  max-width: 31.25rem;
  max-height: 25rem;
  flex-shrink: 0;
}

.development-standards__metric {
  margin: 0 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.development-standards__metric img {
  max-width: 3.125rem;
  max-height: 3.125rem;
}

.development-standards__metric-caption {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

.our-works {
  padding: 0;
  background-image: linear-gradient(
    0deg,
    var(--color__white) 0%,
    var(--color__white) 26.625rem,
    var(--color__violet) 26.625rem,
    var(--color__purple) 100%
  );
  padding-bottom: 5.3125rem;
}

.our-works__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.our-works__container {
  display: flex;
  max-width: 69.375rem;
  justify-content: space-around;
  align-items: center;
  padding-top: 6.25rem;
}

.our-works__title {
  color: var(--color__white);
  margin: 0;
}

.our-works__image {
  border-radius: 0.625rem;
  background: var(--color__lightgray), lightgray 50%;
  max-width: 21.875rem;
  max-height: 30vh;
}

.our-works__gallery {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 71.875rem;
  border-bottom: 0.0625rem solid var(--color__light);
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
}

.our-works__item {
  margin: 0;
}

.our-works__wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.our-works__marker {
  margin: 0;
  color: var(--color__button);
}

.our-works__text {
  color: var(--color__black);
}

.our-works__item-description {
  max-width: 21.875rem;
}

.our-projects {
  background-color: var(--color__projects-bg);
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 6.25rem;
  padding-bottom: 9.0625rem;
}

.our-projects__title {
  color: var(--color__black);
  text-align: center;
  margin: 0 auto;
}

.our-projects__description {
  text-align: center;
  max-width: 45.625rem;
  max-height: 2.5625rem;
  padding-top: 3.125rem;
  margin: auto;
  flex-shrink: 0;
}

.our-projects__gallery {
  display: flex;
  margin: auto;
  justify-content: space-around;
  max-width: 73.125rem;
  padding-top: 4.375rem;
}

.our-projects img {
  max-width: 15.9375rem;
  max-height: 15.9375rem;
  padding: 0 0.9375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.our-projects img:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.05);
}

.our-projects__item-caption {
  font-size: 1rem;
  margin-top: 0.625rem;
}

.our-projects__button {
  font-family: Montserrat;
  margin: auto;
  margin-top: 3.125rem;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-image: var(--path__video-img);
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
  background-size: auto;
  padding-top: 4.375rem;
}

.video__title {
  color: var(--color__white);
  text-align: center;
  margin: 0;
  padding-bottom: 1.875rem;
}

.video__discription {
  color: var(--color__white);
  text-align: center;
}

.video__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  border-bottom: 0.0625rem solid var(--color__light);
  padding-bottom: 5.3125rem;
}

.video__content {
  padding-top: 4.375rem;
}

.video__player {
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem 0 var(--color__darkgray);
  width: 100vh;
  height: 50vh;
  flex-shrink: 0;
}

.subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5.3125rem 0;
}

.subscribe__title {
  max-width: auto;
  max-height: 1.0625rem;
  flex-shrink: 0;
  margin: 0;
  color: var(--color__black);
  text-align: center;
  padding-bottom: 1.25rem;
}

.subscribe__description {
  text-align: center;
  margin-bottom: 1.875rem;
}

.subscribe__form {
  min-width: 30.5625rem;
  min-height: 2.8125rem;
  display: flex;
  max-width: 30.5625rem;
  max-height: 2.8125rem;
  flex-shrink: 0;
  margin: auto;
  justify-content: center;
  border-radius: 1.875rem;
  border: 0.0625rem solid var(--color__white);
  background: var(--color__white);
  box-shadow: 0 0 0.625rem 0 var(--color__dark);
}

.subscribe__form input {
  border: none;
  font-size: .8125rem;
  margin: auto;
  max-width: fit-content;
}

.subscribe__disclaimer {
  text-align: center;
  font-size: 0.8125rem;
  margin-top: 1.875rem;
}

.subscribe__button {
  min-width: 11.875rem;
  padding: .625rem 1.25rem;
  cursor: pointer;
  border-radius: 0 1.875rem 1.875rem 0;
  min-height: 2.8125rem;
  max-width: 12.5rem;
  background: var(--color__button);
  border: none;
  color: var(--color__white);
  font-family: Montserrat;
  box-shadow: 0 0 .625rem 0 var(--color__dark);
}

.footer {
  background-color: var(--color__projects-bg);
  padding: 1.875rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__column-wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 69.375rem;
  margin: auto;
  padding-bottom: 4.375rem;
  border-bottom: 0.0625rem solid var(--color__light);
}

.footer__column {
  font-size: 0.875rem;
}

.footer__column-title {
  color: var(--color__black);
}

.footer__link {
  margin: 0.3125rem 0;
  display: block;
  font-size: 0.875rem;
  text-decoration: none;
  position: relative;
}

.footer__link::before {
  content: ">";
  position: absolute;
  left: -1rem;
  color: var(--color__gray);
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__link:hover::before {
  opacity: 1;
}

.footer__copyright {
  padding: 1.875rem 0;
  max-width: 24.125rem;
  max-height: 0.9375rem;
  justify-content: center;
  font-size: 0.8125rem;
  margin: auto;
}

@media (min-width: 0em) and (max-width: 800px) {
  .homescreen {
    height: 100vh;
  }

  .homescreen__content {
    max-height: 100vh;
    padding: 0;
    background-size: 100vh;
  }

  .navigation {
    flex-direction: column;
    height: 100vh;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-end;
    background: transparent;
    opacity: 0.8;
    transition: background 0.3s ease;
  }

  .navigation__list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navigation__item {
    padding: 1.5rem 0;
    text-align: left;
  }

  .navigation__btn {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/assets/icons/menu.svg");
    background-size: cover;
  }

  .navigation__btn.opened {
    background-image: url("../img/assets/icons/cross.svg");
  }

  .hidden {
    display: flex;
  }

  .navigation__link {
    padding: 0.5rem;
  }

  .navigation__btn {
    display: block;
  }

  .text {
    font-size: 1.2rem;
  }

  .text-mid {
    font-weight: 600;
    line-height: normal;
  }

  .text-big {
    font-weight: 700;
    line-height: 146.28%;
  }

  .homescreen__button {
    margin-top: 1rem;
  }

  .services__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 1.5rem;
  }

  .services__icon {
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin: auto;
  }

  .services__svg-container {
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .services__icon-info {
    padding-top: 1.25rem;
    text-align: center;
  }

  .services__icon-text {
    max-width: 90%;
    max-height: 4rem;
    align-items: center;
    margin: auto;
    padding-top: 0.625rem;
    text-align: center;
  }

  .services__item-container {
    display: flex;
    flex-direction: column;
  }

  .development-standards {
    padding: 2rem 0;
  }

  .development-standards__content {
    padding-bottom: 2.5rem;
  }

  .development-standards__info-container {
    flex-direction: column;
    gap: 1rem;
  }

  .development-standards__header {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .development-standards__info-wrapper {
    margin-right: 0;
    text-align: center;
  }

  .development-standards__text {
    text-justify: distribute;
    max-height: inherit;
    margin: auto;
    flex-shrink: 0;
    max-width: 90%;
    padding: 1rem 0;
    text-align: center;
  }

  .development-standards__img {
    display: none;
  }

  .development-standards__metrics {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 2.5rem;
  }

  .development-standards__metric {
    margin: 0;
    text-align: center;
  }

  .development-standards__metric:last-child {
    justify-self: center;
    grid-column: span 2;
  }

  .our-works__gallery {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .our-works__item:not(:first-child) {
    padding-top: 2rem;
  }

  .our-works {
    background-image: linear-gradient(
    0deg,
    var(--color__white) 0%,
    var(--color__white) 80%,
    var(--color__violet) 80%,
    var(--color__purple) 100%
  );
  }

  .our-works__item {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .our-works__container {
    max-width: 85%;
  }

  .our-projects__gallery {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    flex-shrink: 1;

  }

  .our-projects__gallery img {
    max-width: 100%;
    height: auto;    
    padding-top: 2.5rem;
  }

  .video {
    padding-top: 3.125rem;
    background-size: cover;
  }

  .video__title {
    font-size: 1.75rem;
    padding-bottom: 1.25rem;
  }

  .video__wrapper {
    flex-direction: column;
    padding-bottom: 3.125rem;
  }

  .video__content {
    padding-top: 3.125rem;
  }

  .video__player {
    width: 100%;
    height: auto;
  }

  .subscribe__title {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }

  .subscribe__description {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }

  .subscribe__form input {
    font-size: 0.75rem;
  }

  .subscribe__disclaimer {
    font-size: 0.75rem;
    margin-top: 1.25rem;
  }

  .subscribe__button {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }

  .footer__column-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }

  .footer__column {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .footer__link {
    margin: 0.3125rem auto;
    text-align: center;
  }

  .footer__copyright {
    text-align: center;
    margin-top: 1.875rem;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  
}

@media (min-width: 1200px) and (max-width: 1500px) {
}
